
/* Extra CSS overrides go here */

@font-face {
    font-family: "CharterBT";
    src: url("fonts/CharterBT-Roman.woff") format("woff"),
         url("fonts/CharterBT-Roman.otf") format("opentype");
}
@font-face {
    font-family: "CharterBT";
    src: url("fonts/CharterBT-Bold.woff") format("woff"),
         url("fonts/CharterBT-Bold.otf") format("opentype");
    font-weight: bold;
}
@font-face {
    font-family: "CharterBT";
    src: url("fonts/CharterBT-Italic.woff") format("woff"),
         url("fonts/CharterBT-Italic.otf") format("opentype");
    font-style: italic;
}
@font-face {
    font-family: "CharterBT";
    src: url("fonts/CharterBT-BoldItalic.woff") format("woff"),
         url("fonts/CharterBT-BoldItalic.otf") format("opentype");
    font-weight: bold;
    font-style: italic;
}

/* JDR: don't include the whole font in the css file */
@font-face {
  font-family: "Ionicons";
  src: url("fonts/ionicons.woff") format("woff"),
       url("fonts/ionicons.eot#iefix") format("embedded-opentype"),
       url("fonts/ionicons.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* JDR: Fix permalink size (hack) */
.mathbook-content section header .heading a.permalink {
  font-size: 11.2px;
  line-height: 22.8571px;
}

/* Overrides the overrides in mathbook-add-on.css */
body, html body {
    background: #545454;
    /* JDR: Bitstream Charter looks better at this size.  Don't change this in the Compass stylesheets though!  It can't actually handle a non-default base font size. */
    font-size: 18px;
}

#masthead #byline, #masthead .byline {
    margin-top: -.4em;
    /* font-size: 1em; */
}

#masthead.smallbuttons {
    /* max-width: 664px; */
    max-width: 739px;
    border-right: none;
    border-left: none;
    /* border-right: 1px solid #bababa; */
    /* border-left: 1px solid #bababa; */
}

.mininav {
    float: none;
    padding-top: 0px;
    overflow: hidden; /* Force baseline = bottom margin */
    display:table-cell;
    vertical-align: middle;
}
.indexnav {
    float: none;
    display:table-cell;
    overflow: hidden;  /* Force baseline = bottom margin */
    margin-top: 0px;
    padding-left: .5em;
    height: 90%;
    vertical-align: middle;
}

.indexnav a {
    width: 2.6ex;
}

.mathbook-content .indexitem::after,
.mathbook-content .subindexitem::after,
.mathbook-content .subsubindexitem::after {
    content: "";
    clear: right;
    display: table;
}

.mathbook-content .indexitem,
.mathbook-content .subindexitem,
.mathbook-content .subsubindexitem {
  overflow: auto;
}

.mathbook-content .indexknowl {
  margin-left: 0;
  float: right;
}

.mathbook-content .indexknowl *[knowl],
.mathbook-content .indexknowl *[knowl]:hover,
.mathbook-content .indexknowl *[knowl].active {
  margin-left: 1ex;
}

.mathbook-content a.feedback-link {
  font-size: 110%;
  text-align: center;
  width: 100%;
  display: inline-block;
}

.mathbook-content span.feedback-link {
  font-size: 90%;
  text-align: center;
  width: 100%;
  display: inline-block;
}

#toc {
  pointer-events: initial;
}

#toc h2 + h2 {
    margin-top: 0px;
}

article.theorem-like, article.objectives {
    border-left: 2px solid #eeb211;
}
article.theorem-like:after, article.objectives:after {
    border-bottom: 2px solid #eeb211;
}
article.example-like {
    border-left: 2px solid #eeb211;
}
article.example-like:after {
    border-bottom: 2px solid #eeb211;
}
article.definition-like {
    border-left: 2px solid #eeb211;
}
article.definition-like:after {
    border-bottom: 2px solid #eeb211;
}
article.remark-like {
    border-left: 2px solid #eeb211;
}
article.remark-like:after {
    border-bottom: 2px solid #eeb211;
}
.hidden-knowl-wrapper article.remark-like {
    border-left: none;
    padding-left: 0;
}
.hidden-knowl-wrapper article.remark-like:after {
    border-bottom: none;
    padding-bottom: 0;
}

a > article.remark-like:after {
  content:'';
  display: inline;
  margin-left: 0;
  margin-right: 0;
  width: 0;
  height: 0;
  padding: 0;
  border: none;
}

.mathbook-content .bluebox {
  padding: 1em;
  /*padding-bottom: 0;*/
  border: 3px solid #aaaaff;
  border-radius: 8px;
  margin-bottom: 1.25em;
}

.mathbook-content .bluebox > .heading .type:last-child:after,
.mathbook-content .bluebox > .heading .codenumber:last-child:after,
.mathbook-content .bluebox > .heading .title:last-child:after
{
  content: ".\2009 ";
}
.mathbook-content .bluebox > .heading .type:after,
.mathbook-content .bluebox > .heading .codenumber:after,
.mathbook-content .bluebox > .heading .title:after 
{
  content: " ";
}

.mathbook-content .bluebox > .heading {
  margin: 0;
  margin-bottom: .5em;
}

.mathbook-content .bluebox > p:last-child {
  margin: 0;
}


/* JDR: hidden subsection */
.mathbook-content section.hidden-subsection > header > h1 {
  border-bottom: 1px dotted #2a2222;
}

.mathbook-content section.hidden-subsection > header > h1:hover {
  background: #fdf6e2;
  cursor: pointer;
}

.mathbook-content .hidden-subsection-content {
  display: none;
}

.mathbook-content section > .hidden-subsection-content > .hidden-knowl-wrapper {
    margin-bottom: 1em;
}

.mathbook-content .knowl-output {
  background: white;
}

/* JDR: No permalink for hidden subsection */
.mathbook-content section.hidden-subsection header .heading a.permalink {
  display: none;
}

.mathbook-content .hidden-knowl-wrapper > a[knowl] > article:after,
.mathbook-content section.hidden-subsection > header > h1:after {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: translateX(-7px) translateY(-3px) rotate(45deg);
  -webkit-transform: translateX(-7px) translateY(-3px) rotate(45deg);
  margin-bottom: 2px;
  margin-left: .5em;
  content: '';
}

.mathbook-content .hidden-knowl-wrapper > a[knowl].active > article:after,
.mathbook-content section.hidden-subsection.active > header > h1:after {
  transform: translateX(-7px) translateY(0px) rotate(225deg);
  -webkit-transform: translateX(-7px) translateY(0px) rotate(225deg);
}

.mathbook-content .hidden-knowl-wrapper > a[knowl] .heading {
  background: none;
}

.mathbook-content .mathbox iframe {
  position:     relative;
  width:        100%;
  height:       100%;
  border-style: none;
  z-index:      2;
}

.mathbook-content .mathbox {
  position: relative;
}

.mathbook-content .mathbox.maximized {
  position: fixed;
  left:     0;
  top:      0;
  right:    0;
  bottom:   0;
  z-index:  205;
}

.mathbook-content .mathbox .maximizer,
.mathbook-content .mathbox .minimizer {
  position:    absolute;
  right:       0px;
  bottom:      0px;
  z-index:     3;
  font-family: "Ionicons";
  cursor:      pointer;
  opacity:     .5;
  font-size:   40px;
  width:       40px;
  text-align:  center;
  background:  #ddd;
  border-radius: 5px;
  transition:  opacity .5s;
  -webkit-transition: opacity .5s;
}

.mathbook-content .mathbox .maximizer:hover,
.mathbook-content .mathbox .minimizer:hover {
  opacity: .75;
}

.mathbook-content .mathbox.maximized .maximizer {
  display: none;
}
.mathbook-content .mathbox .minimizer {
  display: none;
}
.mathbook-content .mathbox.maximized .minimizer {
  display: block;
}


body, html body {
  overflow-x: hidden;
}

.mathbook-content .mathbox-link {
  text-align: center;
}

.mathbook-content article.paragraphs .hidden-knowl-wrapper {
  display: block;
  margin-bottom: 1em;
}

/* Hide numbers of subsections */
.mathbook-content .subsection > header > .heading > .codenumber {
  display: none;
}

/* Hide numbers of captions */
.mathbook-content .figure-like > figcaption {
  font-style: italic;
}
.mathbook-content .figure-like > figcaption > .heading,
.mathbook-content .figure-like > figcaption > .codenumber
 {
  display: none;
}

.mathbook-content .solution > .type {
  font-weight: bold;
}

.mathbook-content .definition-like p > em {
  font-weight: normal;
}

.mathbook-content .definition-like p > em.terminology {
  font-weight: 800;
}

.mathbook-content .heading img.important {
  width: 1.5em;
  padding-right: .5em;
  padding-left:  .5em;
  vertical-align: bottom;
}

.mathbook-content .heading.important .type,
.mathbook-content .heading.important .codenumber {
  color: red;
}

.mathbook-content .preface a[href^="mailto:"] {
  font-size: 90%;
}

/* JDR: Google search */

.searchwrapper {
    max-width: 900px;
    position: absolute;
    right: 3px;
    bottom: -3px; 
    z-index: 1;
    height: 0;
    margin-bottom: 0;
}

.searchwrapper .cse .gsc-control-cse, .searchwrapper .gsc-control-cse  {
    width: 27ex;
}

.searchwrapper .gsc-input-box
{
    height: 3.5ex;
}

.searchwrapper .gsc-search-button
{
    display: none;
}

.searchwrapper .gsc-input-box>table
{
    height: 100%;
}

.searchwrapper .gsc-input-box-hover,
.searchwrapper .gsc-input-box:hover,
.searchwrapper .gsc-input-box-focus
{
    box-shadow: none;
}

/* JDR: PDF version */

#masthead > .banner > .container {
    position: relative
}

.pdf-version {
  position: absolute;
  right: 3px;
  bottom: -1em;
}

.pdf-version a {
  color: #aaaaaa;
  font-family: "CharterBT";
  text-decoration: none;
}

.pdf-version a:hover {
  color: #eeb211;
}


/* JDR: cover animation */

#cover {
  margin-bottom: 1.25em;
  position: relative;
}

#cover-controls {
  width:      100%;
  text-align: center;
  position:   absolute;
  left:       0;
  bottom:     5px;
  z-index:    1;
  opacity:    .7;
}

#cover-controls select,
#cover-controls button {
  height: 28px;
  width: 100px;
  font-size: 14px;
  color: #aaa;
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-transition: color .75s, background-color .75s, border-color .75s;
  transition: color .75s, background-color .75s, border-color .75s;
}

#cover-controls select:hover,
#cover-controls button:hover {
  color: #000;
  background-color: #eee;
  border-color: #000;
}

#cover-controls button {
  margin-left: 10px;
}

#mathbox-container {
  width:       100%;
  height:      0;
  padding-top: 100%;
  overflow:    hidden;
  position:    relative;
}

#mathbox {
  position: absolute;
  top:      0;
  left:     0;
  width:    100%;
  height:   100%;
}
