
/* JDR: I wish all the color theming happened in the scss files... */

body, html body {
    background: #545454;
}

article.theorem-like, article.objectives {
    border-left: 2px solid #00539b;
}
article.theorem-like:after, article.objectives:after {
    border-bottom: 2px solid #00539b;
}
article.example-like {
    border-left: 2px solid #00539b;
}
article.example-like:after {
    border-bottom: 2px solid #00539b;
}
article.definition-like {
    border-left: 2px solid #00539b;
}
article.definition-like:after {
    border-bottom: 2px solid #00539b;
}
article.remark-like {
    border-left: 2px solid #00539b;
}
article.remark-like:after {
    border-bottom: 2px solid #00539b;
}

.mathbook-content section.hidden-subsection > header > h1:hover {
  background: #e2eafd;
}

.pdf-version a {
  color: #aaaaaa;
}

.pdf-version a:hover {
  color: white;
}

.mathbook-content .bluebox {
  border: 3px solid #00539b;
}
